{% schema %}
{
  "name": "Image Grid",
  "settings": [
    {
      "type": "range",
      "id": "grid_column_size",
      "label": "Grid Column Size (1-9)",
      "min": 1,
      "max": 9,
      "default": 3
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Container Width (px)",
      "min": 900,
      "max": 1200,
      "default": 1100,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "t4wp_grid_gap",
      "label": "Grid Gap (0-20px)",
      "min": 0,
      "max": 20,
      "default": 7,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "image_radius",
      "label": "Block Radius (0-50px)",
      "min": 0,
      "max": 50,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "grid_height",
      "min": 200,
      "max": 1200,
      "step": 10,
      "unit": "px",
      "label": "Grid Height",
      "default": 400
    },
    {
      "type": "header",
      "content": "Extra"
    },
    {
      "type": "checkbox",
      "id": "remove_bottom_margin",
      "default": false,
      "label": "Remove Bottom Margin"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image Link"
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "range",
          "id": "column_start",
          "label": "Column Start (1-10)",
          "min": 1,
          "max": 10,
          "default": 1
        },
        {
          "type": "range",
          "id": "column_end",
          "label": "Column End (1-10)",
          "min": 1,
          "max": 10,
          "default": 2
        },
        {
          "type": "range",
          "id": "row_start",
          "label": "Row Start (1-10)",
          "min": 1,
          "max": 10,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_end",
          "label": "Row End (1-10)",
          "min": 1,
          "max": 10,
          "default": 2
        }
      ]
    },
    {
      "name": "Text Block",
      "type": "grid-text-item",
      "settings": [
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#ffffff"
        },
        {
          "id": "subtitle",
          "type": "text",
          "label": "Subheading",
          "default": "Subtitle Here"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Heading",
          "default": "Title Here"
        },
        {
          "id": "additional_text",
          "type": "textarea",
          "label": "Additional Text",
          "default": "Additional Text"
        },
        {
          "id": "text_box_url",
          "type": "url",
          "label": "Link"
        },
        {
          "type": "range",
          "id": "text_box_margin",
          "label": "Text Box Margin",
          "min": 0,
          "max": 50,
          "default": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_box_padding",
          "min": 0,
          "max": 50,
          "default": 0,
          "label": "Text Box Padding",
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_padding",
          "label": "Text Padding",
          "min": 0,
          "max": 50,
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "range",
          "id": "column_start",
          "label": "Column Start (1-10)",
          "min": 1,
          "max": 10,
          "default": 1
        },
        {
          "type": "range",
          "id": "column_end",
          "label": "Column End (1-10)",
          "min": 1,
          "max": 10,
          "default": 2
        },
        {
          "type": "range",
          "id": "row_start",
          "label": "Row Start (1-10)",
          "min": 1,
          "max": 10,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_end",
          "label": "Row End (1-10)",
          "min": 1,
          "max": 10,
          "default": 2
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Grid Gallery",
      "category": "Custom"
    }
  ]
}

{% endschema %}


{% assign grid_column_size = section.settings.grid_column_size %}
{% assign grid_gap = section.settings.t4wp_grid_gap %}
{% assign grid_height = section.settings.grid_height %}
{% assign image_radius = section.settings.image_radius %}
{% assign container_width = section.settings.container_width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% assign full_width = section.settings.full_width %}
{% assign remove_bottom_margin = section.settings.remove_bottom_margin %}

<div class="t4wp_container" style="{% if full_width %}width: 100%;{% else %}max-width: {{ container_width }}px; margin: 0 auto;{% endif %}">
  <div class="image-grid-gallery" style="padding-top: {{ padding_top }}px; padding-bottom: {{ padding_bottom }}px; {% unless remove_bottom_margin %}margin-bottom: 90px;{% endunless %}">
    <div class="parent">
      {% for block in section.blocks %}
        {% if block.type == 'image_block' and block.settings.image %}
          <div class="image-block"
            style="grid-column: {{ block.settings.column_start }} / {{ block.settings.column_end }};
            grid-row: {{ block.settings.row_start }} / {{ block.settings.row_end }};">
            {% if block.settings.link %}
              <a href="{{ block.settings.link }}" class="image-wrapper">
                <img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.image.alt | escape }}" />
              </a>
            {% else %}
              <div class="image-wrapper">
                <img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.image.alt | escape }}" />
              </div>
            {% endif %}
          </div>
        {% elsif block.type == 'grid-text-item' %}
          <a href="{{ block.settings.text_box_url }}" class="text-block"
            style="grid-column: {{ block.settings.column_start }} / {{ block.settings.column_end }};
            grid-row: {{ block.settings.row_start }} / {{ block.settings.row_end }};
            padding-top: {{ block.settings.text_box_padding }}px;
            padding-bottom: {{ block.settings.text_box_padding }}px;
            background-color: {{ block.settings.background_color }};
            margin: {{ block.settings.text_box_margin }}px; text-decoration: none;">
            <h2 class="text-subtitle" style="color: {{ block.settings.text_color }};">
              {{ block.settings.subtitle }}
            </h2>
            <h1 class="text-title" style="color: {{ block.settings.text_color }};">
              {{ block.settings.text }}
            </h1>
            {% if block.settings.additional_text %}
              <p class="additional-text" style="color: {{ block.settings.text_color }};">
                {{ block.settings.additional_text }}
              </p>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  /* Parent grid container */
  .parent {
    display: grid;
    grid-template-columns: repeat({{ grid_column_size }}, 1fr);
    grid-template-rows: auto;
    gap: {{ grid_gap }}px;
    height: {{ grid_height }}px;
  }

  /* Image block */
  .image-block {
    overflow: hidden;
    border-radius: {{ image_radius }}px;
    height: 100%;
  }

  .image-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: {{ image_radius }}px;
    overflow: hidden;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .image-wrapper img:hover {
    transform: scale(1.1);
  }

  /* Text block */
  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: {{ image_radius }}px;
    cursor: pointer; /* Make it look clickable */
  }

  .text-title,
  .text-subtitle {
    margin: 0; /* Reset default margins to ensure consistent spacing */
  }

  .additional-text {
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 10px; /* Space between subtitle/title and additional text */
  }

  .t4wp_container {
    margin: 0 auto;
  }

  /* Mobile responsiveness */
  @media only screen and (max-width: 768px) {
    .image-wrapper img {
      transition: none !important;
    }

    .image-wrapper, .image-block, .text-block {
      border-radius: 0px !important;
    }

    .parent {
      margin: 0;
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 0px !important;
    }

    .t4wp_container {
      width: auto;
    }
  }
</style>
